@* Support mega-menu for SuperAdmin users *@
@using Microsoft.AspNetCore.Authorization
@using MotoRent.Domain.Core

<AuthorizeView Roles="@UserAccount.SUPER_ADMIN">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-first-aid-kit"></i>
            </span>
            <span class="nav-link-title">Support</span>
        </a>
        <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <div class="dropdown-header">ACCOUNTS</div>
                    <a class="dropdown-item" href="/super-admin/organizations">
                        <i class="ti ti-building me-2"></i>Organizations
                    </a>
                    <a class="dropdown-item" href="/super-admin/users">
                        <i class="ti ti-users me-2"></i>Users
                    </a>
                    <a class="dropdown-item" href="/super-admin/invites">
                        <i class="ti ti-gift me-2"></i>Invite Codes
                    </a>
                </div>
                <div class="dropdown-menu-column">
                    <div class="dropdown-header">USER SUPPORT</div>
                    <a class="dropdown-item" href="/super-admin/impersonate">
                        <i class="ti ti-user-search me-2"></i>Impersonate
                    </a>
                    <a class="dropdown-item" href="/super-admin/logs">
                        <i class="ti ti-bug me-2"></i>System Logs
                    </a>
                    <div class="dropdown-header mt-2">SETTINGS</div>
                    <a class="dropdown-item" href="/super-admin/settings">
                        <i class="ti ti-settings me-2"></i>System Settings
                    </a>
                </div>
            </div>
        </div>
    </li>
</AuthorizeView>
